@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f8fafc;
}
img{
    width: 200px;
}
.search_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    margin: 70px 0 90px 0;
}
.search_div p{
    font-size: 20px;
    margin: 20px 0;
}
.search_bar{
    width: 800px;
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
}
.search_bar input{
    width: calc(100% - 100px);
    padding: 10px 10px 10px 5px;
    outline: none;
    background-color: #f8fafc;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;             
}
.search_bar button{
    width: 100px;
    background-color: #645cff;
    border: #fff;
    color: #fff;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}
.search_results{
    padding: 0 200px;
    margin-bottom: 20px;
}
h3{
    margin-top: 20px;
}
h3 a{
    color: #645cff;
    font-size: 20px;
}
.results-link{
    color: #31724a;
    text-decoration: none;
    margin: 5px 0;
}

/* Responsive */

@media (max-width: 910px){
    .search_bar{
        width: 100%;
    }
    .search_results{
        margin-top: -60px;
        padding: 20px 10px;
    }
}